.nav-bar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.nav-bar a {
  text-decoration: none;
  margin: 0 300px;
  color: white;
}

.test h1 {
  text-align: center;
}

.question {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.question .answer {
  margin-left: 5%;
}